In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [2]:
# Korean
plt.rcParams['font.family'] = 'NanumGothic'

In [20]:
#load csv
train1 = pd.read_csv('data/OBS_AWS_TIM_20231110140855.csv', encoding='cp949')
train2 = pd.read_csv('data/OBS_AWS_TIM_20231110141731.csv', encoding='cp949')

In [23]:
merged_df = pd.concat([train1, train2], ignore_index=True)

In [24]:
merged_df

         지점    지점명                일시  기온(°C)  강수량(mm)
0       116  관악(레)  2022-10-01 01:00    19.8      0.0
1       116  관악(레)  2022-10-01 02:00    19.1      0.0
2       116  관악(레)  2022-10-01 03:00    18.9      0.0
3       116  관악(레)  2022-10-01 04:00    18.5      0.0
4       116  관악(레)  2022-10-01 05:00    18.9      0.0
...     ...    ...               ...     ...      ...
269957  889    현충원  2023-11-08 20:00     7.6      0.0
269958  889    현충원  2023-11-08 21:00     7.5      0.0
269959  889    현충원  2023-11-08 22:00     6.6      0.0
269960  889    현충원  2023-11-08 23:00     6.1      0.0
269961  889    현충원  2023-11-09 00:00     5.9      0.0

[269962 rows x 5 columns]

In [25]:
merged_df.to_csv('weather.csv', index=False)

In [32]:
train = pd.read_csv('data/weather.csv')

In [35]:
train.head()

    지점    지점명                일시  기온(°C)  강수량(mm)
0  116  관악(레)  2022-10-01 01:00    19.8      0.0
1  116  관악(레)  2022-10-01 02:00    19.1      0.0
2  116  관악(레)  2022-10-01 03:00    18.9      0.0
3  116  관악(레)  2022-10-01 04:00    18.5      0.0
4  116  관악(레)  2022-10-01 05:00    18.9      0.0

In [42]:
train.tail()

         지점  지점명                일시  기온(°C)  강수량(mm)        date   time
269957  889  현충원  2023-11-08 20:00     7.6      0.0  2023-11-08  20:00
269958  889  현충원  2023-11-08 21:00     7.5      0.0  2023-11-08  21:00
269959  889  현충원  2023-11-08 22:00     6.6      0.0  2023-11-08  22:00
269960  889  현충원  2023-11-08 23:00     6.1      0.0  2023-11-08  23:00
269961  889  현충원  2023-11-09 00:00     5.9      0.0  2023-11-09  00:00

In [37]:
train.shape

(269962, 5)

In [38]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269962 entries, 0 to 269961
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   지점       269962 non-null  int64
 1   지점명      269962 non-null  object
 2   일시       269962 non-null  object
 3   기온(°C)   269401 non-null  float64
 4   강수량(mm)  268037 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 10.3+ MB

In [39]:
train1.isnull().sum()

지점            0
지점명           0
일시            0
기온(°C)      320
강수량(mm)    1772
dtype: int64

In [40]:
# create a new 'date' & 'time' column by slicing the '일시' column
train['date'] = train['일시'].str.slice(0,10)
train['time'] = train['일시'].str.slice(11,16)

In [41]:
train.head()

    지점    지점명                일시  기온(°C)  강수량(mm)        date   time
0  116  관악(레)  2022-10-01 01:00    19.8      0.0  2022-10-01  01:00
1  116  관악(레)  2022-10-01 02:00    19.1      0.0  2022-10-01  02:00
2  116  관악(레)  2022-10-01 03:00    18.9      0.0  2022-10-01  03:00
3  116  관악(레)  2022-10-01 04:00    18.5      0.0  2022-10-01  04:00
4  116  관악(레)  2022-10-01 05:00    18.9      0.0  2022-10-01  05:00